<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>
        Invoice - Chiry
    </title>
    <style>
        {% include 'style.css' %}
    </style>
    </meta>
    </meta>
</head>

<body>
    <div class="container">        
        <table class="table">
            <tbody>
                <tr class="border-b">
                    <td colspan="3">
                        <h2 class="title">
                            Recibo N°: {{ datos.doc }}
                        </h2>
                    </td>
                </tr>
                <tr class="separator"><td></td></tr>
                <tr class="space">
                    <td colspan="1">
                        <strong>Facturado a </strong>
                    </td>
                </tr>
                <tr class="space">
                    <td>
                        {{ datos.cliente }}
                    </td>
                </tr>
                <tr class="space">
                    <td>
                        {{ datos.address }}
                    </td>
                </tr>
                <tr class="separator"><td></td></tr>
                <tr class="space">
                    <td>
                        <table class="detail">
                            <tbody>
                                <tr class="border-b space">
                                    <td>
                                        <b>
                                            PRODUCTO
                                        </b>
                                    </td>
                                    <td align="center" >
                                        <b>
                                            PRECIO
                                        </b>
                                    </td>
                                    <td align="center" >
                                        <b>
                                            CANTIDAD
                                        </b>
                                    </td>
                                    <td align="center" >
                                        <b>
                                            IMPORTE
                                        </b>
                                    </td>
                                </tr>
                                {% for detail in datos.details %}
                                    <tr class="space" style="line-height: 2rem;border-bottom: 1px solid #e6e6e6;">
                                        <td>
                                            {{ detail.descripcion }}
                                        </td>
                                        <td align="center">
                                            {{ detail.precio }}
                                        </td>
                                        <td align="center">
                                            {{ detail.cantidad }}
                                        </td>
                                        <td align="center">
                                            {{ detail.importe }}
                                        </td>
                                    </tr>    
                                {% endfor %}
                                <tr class="separator border-0"><td></td></tr>
                                <tr>
                                    <td align="right" colspan="3">
                                        <strong>Subtotal:</strong>
                                    </td>
                                    <td align="center" style="padding: .2rem 0;">
                                        {{ datos.subtotal}}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" colspan="3">
                                        <strong> Envío:</strong>
                                    </td>
                                    <td align="center" style="padding: .2rem 0;">
                                        {{ datos.envio}}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" colspan="3">
                                        <strong>Total:</strong>
                                    </td>
                                    <td align="center" style="padding: .2rem 0;">
                                        {{ datos.total}}
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3" align="center">
                        Gracias por su compra!!
                    </td>
                </tr>
                </hr>
            </tbody>
        </table>
    </div>
</body>

</html>