body {
    margin: 0;
    padding: 0;
    font-family: roboto;
}
* {
    box-sizing: border-box;
}
.container {    
    padding: 1.5rem;
    /*background: whitesmoke;*/
}
p, h2 {
	margin: 0;
	padding: 0;
}
.title {
	color: #1781d6;
}
.border-b {
	border-bottom: 1px solid #cac7c7;
	margin-bottom: 1.5rem
}
.separator {
	display: block;
	margin:0 2rem;
}
.sm-separator {
	display: block;
	margin:0 1rem;
}
table {
    border-collapse: collapse;
    width: 100%;
    padding: 1rem;
}
table tr {
    line-height: 2rem;
    padding: 1rem;
}
table tr.space {
	line-height: 1rem;
}
table tr td {
    width: 100%;    
}
.mb {
	line-height: 2rem;
	margin-bottom: 2rem;
}
table.detail tr {
	line-height: 2rem;
    border-bottom: 1px solid #e6e6e6;
}
table.detail tr.border-0 {
	border: 0px;
}