* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.main {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f5f5f5;
}
.main .header-nav {
  float: left;
  left: 0;
  position: fixed;
  width: 180px;
  left: 0;
  color: white;
  background: #333;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.header-nav .log {
  width: 98%;
  margin: 0 auto;
  height: 4rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 5px 0px rgba(234, 228, 228, 0.1);
}
.header-nav .log img {
  width: 100%;
  height: 100%;
}
.header-nav .nav-menu {
  width: 100%;
}
.bt-menu,
.bt-menu:hover {
  color: white;
}
.header.active {
  position: relative !important;
  height: 3.5rem;
  background: #333;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.header.active .header-nav {
  position: relative !important;
  display: flex;
  align-items: center;
  min-height: 3.5rem !important;
  height: 3.5rem;
  overflow: inherit !important;
}
header.active .header-nav .log {
  display: none;
}
header.active .header-nav .bt-menu {
  visibility: visible;
}
.header.active .header-nav .nav-menu.active {
  position: absolute;
  left: 0;
  top: 3.5rem;
  /*height: calc(100vh - 3.5rem);*/
  height: 100vh;
  background: var(--dark);
  transition: all 1s ease;
}
.header.active .header-nav .nav-menu .menu {
  display: none;
}
.header.active .header-nav .nav-menu.active .menu {
  display: block;
}

.nav-menu nav {
  width: 100%;
}
ul {
  list-style: none;
  -webkit-margin-before: 0rem;
  -webkit-margin-after: 0rem;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.nav-menu nav ul li {
  display: inline-block;

  width: 100%;
}
.nav-menu nav ul li.active {
  background: #4e99f5fa;
}
.nav-menu nav ul li.active i.right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nav-menu nav ul li:hover {
  background: #4e99f5fa;
}
.nav-menu nav ul li a {
  width: 100%;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 12px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 100;
}
.nav-menu nav ul li ul li a {
  width: auto;
}
ul li i.left {
  float: left;
  left: 0;
  margin-right: 15px;
}

ul li i.right {
  float: right;
  right: 0;
}
.children {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

ul li ul.active {
  display: block;
}
.nav-menu nav ul li .children {
  display: none;
  background: #292828e3;
  width: 100%;
  z-index: 1000;
}
ul li ul.children li a {
  padding: 15px;
  font-size: 12px;
  margin-left: 20px;
}

.nav-menu nav ul li .children li {
  display: block;
  overflow: hidden;
}
.children li {
  background: #2b2a2a8c;
}

ul li ul.children li.active {
  background: #2276defa;
}
.nav-menu nav ul li .children li a {
  display: block;
}

.nav-menu nav ul li .children li a i {
  float: right;
  position: relative;
  top: 3px;
  margin-right: 0;
  margin-left: 10px;
}

.bt-menu {
  position: absolute;
  visibility: hidden;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  left: 1rem;
}
.bt-menu i {
  float: left;
  vertical-align: middle;
}

.nav-menu nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

/*style nav bar user*/
.nav-bar {
  /* width: calc(100% - 180px); */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  /* z-index: 100; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  min-height: 4rem;
  float: right;
  right: 0;
  background: #f5f5f5;
}
header.active .nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  width: auto;
  box-shadow: none;
  background: transparent;
}
header.active .nav-bar .box-info i,
header.active .nav-bar .box-info svg {
  color: white;
}
.box-info {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box-info li svg {
  font-size: 1.5rem;
  color: var(--dark);
}
.box-info .notif-box a {
  position: relative;
}
.box-info .notif-box a span {
  position: absolute;
  width: 15px;
  height: 15px;
  overflow: hidden;
  top: -8px;
  right: -5px;
  border-radius: 50%;
  content: "";
  color: white;
  background: #ea4d5c;
  font-size: 0.6rem;
  align-items: center;
  padding: 0.5px;
  text-align: center;
}
.box-info .cont {
  margin-right: 1.5rem;
  position: relative;
}
.box-info .cont i {
  font-size: 1.8rem;
  color: silver;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.box-info .cont i:hover {
  color: grey;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.box-info .user-box {
  padding: 0rem 0.1rem;
  vertical-align: middle;
}
.user-box img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.user-box img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.notif-box .dropdown-menu.show {
  transform: translate3d(-150px, 0px, 0px) !important;
  top: 35px !important;
  right: 0px !important;
  width: 14rem;
}
a,
a:hover {
  text-decoration: none;
}
.notif-box .list-group-item {
  padding: 0.5rem;
}
.notif-box .list-group-item:hover {
  background: var(--primary);
  color: white;
}
.user-box .dropdown-menu.show {
  transform: translate3d(-150px, 0px, 0px) !important;
  top: 35px !important;
}

/*contenedor de items*/

.content {
  background: #e5e5e5;
  width: calc(100% - 180px);
  min-height: 100vh;
  padding: 1rem;
  float: right;
  right: 0;
  color: gray;
}
body.mobile .content {
  width: 100%;
}
.contenedor-item .loading-gif {
  display: block;
  width: 20%;
  margin: 0 auto;
  height: 40%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 20%;
}

.card.product {
  width: 60%;
}
.option-bar {
  width: 96%;
  margin: 0 auto;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem;
  line-height: 2.5rem;
  text-align: right;
}

.save_prod {
  margin-left: 2rem;
}
.sms {
  display: none;
}

table tbody td .btn i {
  font-size: 14px;
  text-align: center;
}
.table td,
.table th {
  vertical-align: middle;
}

.cmActive {
  min-height: 60vh;
}

/*style paginacion*/
.card-footer {
  border: 0px;
  background-color: transparent;
}
.smj_prod {
  line-height: 2rem;
  text-align: center;
  display: block;
  font-size: 1.5rem;
}

.pagination {
  width: 100%;
  border-radius: 40px;
}
.pagination li {
  display: inline-block;
  list-style: none;
  color: gray;
}
.pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  background-color: #fff;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  color: gray;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.pagination li a:hover,
.pagination li a.active {
  color: #fff;
  background-color: #4d97f1;
}
.pagination li a i {
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  color: gray;
}
.pagination li a:hover .pagination li a i {
  color: white;
}
.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}

@media screen and (max-width: 900px) {
  .nav-bar {
    /* width: auto; */
    display: flex;
    justify-content: flex-end;
    box-shadow: none;
    background: transparent;
  }
  .box-info .cont i {
    font-size: 1.5rem;
  }

  .main .header-nav {
    width: 100%;
    position: fixed;
    min-height: auto;
    float: none;
    z-index: 100;
    text-align: center;
  }
  .header-nav .log {
    display: none;
  }
  .nav-bar {
    display: block;
    float: none;
  }
  .bt-menu {
    visibility: visible;
  }
  .menu {
    display: none;
  }
  .contenedor-item {
    margin: 0;
    width: 100%;
    float: none;
  }
}

/*syle login*/
#main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #0250c5;
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
  background: linear-gradient(bottom, #0250c5, #d43f8d);
  position: relative;
  z-index: 1;
}
#main .container-form {
  display: flex;
  background: white;
  margin: 0 auto;
  vertical-align: middle;
  justify-content: center;
  padding: 2rem 3rem;
  border-radius: 4px;
  border-top: 6px solid #59a1e6;
  padding: 1rem;
  background: white;
  border-radius: 4px;
  border-top: 5px solid #4096f3;
}

.container-form form legend {
  line-height: 3rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: fantasy;
  letter-spacing: 2px;
  color: gray;
  text-align: center;
  text-shadow: -1px 0px 1px grey;
}

.smslog {
  display: none;
}
.custom-file-label::after {
  content: "Seleccionar";
}
form .form-group a {
  padding: 1rem 2rem;
  cursor: pointer;
  color: white;
  background: coral;
  display: block;
  text-decoration: none;
}
form button {
  padding: 0.6rem;
  font-family: sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
  background: #2d80d0;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  border: 2px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
form button:hover {
  color: #2d80d0;
  background: white;
  border: 2px solid #2d80d0;
}

.details-control i,
.details-control svg {
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 1.5rem;
  color: var(--dark);
}
tr.shown .details-control svg {
  transform: rotate(90deg);
}

.grid.mh-100 {
  min-height: 72vh;
}
.btn-round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0px;
  outline: none !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background: var(--primary);
  color: white;
}
th.details-control::before,
th.details-control::after {
  content: "" !important;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 0.2rem !important;
}
